body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(#B8D6D4,transparent);   
    gap: 1rem; 
    font-family: "Google Sans", sans-serif;
}

header{   
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-marca{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 30px;
    padding-left: 3rem;
}

.Barra_navegacion{
    display: flex;   
    background-color: #9abdc0; 
    gap: 7.3rem;
    margin-left: 10%;   
    padding: 0 15rem;
    border-radius: 15px;    
}

.Barra_navegacion a{
    text-decoration: none;
    color: black;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr 1fr;
    gap: 2rem;   
    margin: 0 12rem 0 12rem;
    
}

.card{
    /* width: 250px;
    height: 250px; */
    perspective: 1000px;
    background-color: #9abdc0;
    padding: 2rem;
    border-radius: 5px;
    
   
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta la cara trasera */
  border-radius: 10px;
  overflow: hidden;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.card-back {
  background: #2c3e50;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

/* .card-back p,
.card-back h2,
.card-back h3{
    margin: 0.5rem;
} */

.card-back a{
    color: aliceblue;
    font-size: 12px;
    text-decoration: none;
    gap: 10px;
}

.carrito-python{
    width: 35px;
    height: 35px;
    padding-top: 30px;
    background-color: #9abdc0;
    border-radius: 50px;
    align-items: center;
}
.caracter-funcion{
    display: wrap;
    border-radius: 15px;
    background-color: #2c3e50;
 /*    width: 500px;
    height: 420px */;
    box-shadow: 0 0 15px #010b14; 
    padding-top: 9rem; 
 
}

.card-caracteristicas{
    background-color: #B8D6D4;
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}
.card-caracteristicas:hover{
    transform: translateY(-5px);
}

.card-funcion{
    background-color: #B8D6D4;
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;    
}
.card-funcion:hover{
    transform: translateY(5px);
}

ul{ 
    list-style: none;
}
.card-planes{
    display: wrap;
    border-radius: 15px;
    background-color: #2c3e50;
   /*  width: 500px;
    height: 470px; */
    box-shadow: 0 0 15px #010b14;
    grid-column: 3/4;
    grid-row: 1/3;
    padding-top: 20rem;
    gap: 10rem;
}
.card-plan_Premium, 
.card-plan_Semestral{
    background-color: #B8D6D4;
    margin: 15px;
    border-radius: 4px; 
    padding: 0.5px;   
}
.card-plan_Premium,
.card-plan_Semestral h2 {
    text-align: center;    
}
.card-precios{
    background-color: #2c3e50;
    border-radius: 20px;  
    padding-top: 90px; 
}
.card-precio_Premium,
.card-precio_Semestral{
    background-color: #9abdc0;
    border-radius: 50px;
    text-align: center;
    padding: 2px;
    margin: 2rem;
}
.carrito-premium,
.carrito-semestral{
    width: 40px;
    height: 40px;
}
.card-testimonios{
    background-color: #2c3e50;
    border-radius: 20px;  
    padding-top: 90px;
    text-align: center;
    padding-top: 50px;
    
}
.card-testimonios h2{
    color: antiquewhite;
}
.fot-juan{
    width: 150px;
    height: 150px;
    border-radius: 30px;   
    
}